@page "/knowledgebase/kmsdetail"
@page "/knowledgebase/kmsdetail/{id}"
@using SemanticKernel.AIAgent.Domain.Repositories
@inject IKmsDetails_Repositories _kmsDetail_Repositories;

<CascadingValue Value="this">
    <div>
        <MRow Class="no-gutters">
            <div style="height:calc(100vh - 145px );">
                <KmsNav Title="测试知识库"/>
            </div>
            <div class="pl-6 rounded-2" style="height:calc(100vh - 145px ); width: calc(100% - 200px); overflow: hidden; display:block;">
                <MCard >
                    <MCardText Class="pa-6">
                        <MRow>
                            <MCol Md=6 Sm=12 Class="d-flex block-center">
                             
                             </MCol>
                             <MCol Md=6 Sm=12 Class="d-flex block-center">
                                 <MTextField @bind-Value="_inputText" Color="primary" Class="rounded-2" HideDetails="@("auto")" Flat Dense Solo BackgroundColor="fill-lighten-1" Placeholder="查询">
                                     <PrependInnerContent>
                                         <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
                                     </PrependInnerContent>
                                 </MTextField>
                                 <MButton Color="primary" MinWidth=80 Height=32 Class="ml-6 rounded-pill" OnClick="()=>_visible=true">
                                     新建/导入
                                 </MButton>
                             </MCol>
                         </MRow>
                     </MCardText>

                     <MDataTable Headers="_headers" Items="_kmsDetail_Repositories.GetList()" TItem="KmsDetails" ItemsPerPage="50" HideDefaultFooter Class="user table-border-none" Style="margin-top:5px">
                          <HeaderColContent Context="header">
                             <span class="text-subtitle">@header.Text</span>
                        </HeaderColContent>
                         <ItemColContent>
                               @switch (context.Header.Value)
                               {
                                    case nameof(KmsDetails.Id):
                                        <span>@context.Item.Id</span>
                                        break;
                                    case nameof(KmsDetails.FileName):
                                        <span>@context.Item.FileName</span>
                                        break;
                                    case nameof(KmsDetails.DataCount):
                                        <span>@context.Item.DataCount</span>
                                        break;
                                    case nameof(KmsDetails.Status):
                                        <span>@context.Item.Status</span>
                                    break;
                                    case nameof(KmsDetails.CreateTime):
                                        <span>@context.Item.CreateTime</span>
                                        break;
                               }    
                            </ItemColContent>
                     </MDataTable>
                    <MCardText>
                        <div class="d-flex">
                            <div class="mr-auto pt-3 text-btn neutral-lighten-1--text">Showing</div>
                         
                                <MPagination   Color="primary" Circle Length=10></MPagination>
                      
                        </div>
                    </MCardText>
                 </MCard>
            </div>
        </MRow>
    </div>
</CascadingValue>